spring:
  application:
    name: auth-service
  main:
    allow-bean-definition-overriding: true

  datasource:
    url: jdbc:postgresql://localhost:5433/accountdb
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        temp:
          use_jdbc_metadata_defaults: false

server:
  port: 9191
  servlet:
    context-path: "/uaa"

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8061/eureka/
